.homepage{
    .floating-moon{
        width: 50px;
        position: absolute;
        z-index: -1;
    }
    .f-1{
        left: 200px;
        top: 70px;
    }
    .f-2{
        right: 100px;
        width: 75px;
    }
    .f-3{
        top:200px;
        left:600px;
        width: 100px;
    }
    .f-4{
        top: 300px;
        right: 100px;
        width: 120px;
    }
    .f-5{
        bottom: 20px;
        left:400px;

    }

    .headings{
        margin-top: 5%;
    }
    .heading{
        font-size:120px;
        font-weight: 600;
        margin: 0;
    }
}