.homepage{
    position: relative;
    .headings{
        margin-top: 5%;
    }
    .heading{
        font-size:120px;
        font-weight: 600;
        margin: 0;
    }
    .photography-text{
        // -webkit-text-fill-color: transparent;
        z-index: 2;
        position: absolute;
    }

    // .home-images{
    //     position: relative;
    // }
    .man-image{
        width: 26%;
        height: auto;
        position: absolute;
        top: 92%;
        left: 10%;
        z-index: 1;
    }
    .cow-image{
        width: 20%;
        height:auto;
        position: absolute;
        left: 80%;
    }
    
}